
<div class="jumbotron introduction">
  <h1>{{title}}</h1>
  <p class="lead">{{text}}</p>
</div>

<form action="/signup" method="post" class="marketing">
    <div class="row">
      <div class="col-lg-12">

        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">Dating Questions</h3>
          </div>
          <div class="panel-body">
            {{#each questions}}
            <h4>{{text}}</h4>
            <p>
              {{#if multiplechoice}}
                {{#each choices}}
                <div class="input-group">
                  <span class="input-group-addon">
                    <input type="radio" name="question_1">
                  </span>
                  <span type="text" class="form-control">{{this}}</span>
                </div>
                {{/each}}
              {{/if}}

              {{#if freeform}}
                <textarea name="question_2" class="form-control"></textarea>
              {{/if}}
            </p>
            {{/each}}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Personal Details</h3>
          </div>
          <div class="panel-body">
            <h4>First Name</h4>
            <p>
              <input type="text" class="form-control" name="firstname" />
            </p>

            <h4>Last Name</h4>
            <p>
              <input type="text" class="form-control" name="lastname" />
            </p>

            <h4>Email Address</h4>
            <p>
              <input type="email" required="required" class="form-control" name="email" />
            </p>

            <h4>Age Bracket</h4>
            <p>
              <select name="age" class="form-control">
                <option></option>
                <option>18-21</option>
                <option>22-25</option>
                <option>26-29</option>
                <option>30-33</option>
                <option>34-36</option>
                <option>37-40</option>
              </select>
            </p>

            <h4>Self Identified Gender</h4>
            <p>
              <select name="sex" class="form-control">
                <option></option>
                <option>Male</option>
                <option>Female</option>
              </select>
            </p>

            <h4>Sexual Preference</h4>
            <p>
              <select name="sexpreference" class="form-control">
                <option></option>
                <option>Male</option>
                <option>Female</option>
              </select>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-right">
        <button class="btn btn-lg btn-success">Ready to Roll</button>
      </div>
    </div>

  </form>

</div>