.admin .question {
  margin-bottom: 1em;
}

.jumbotron {
  padding: 5px;
}

.jumbotron h1 {
  font-size: 40px;
}

.jumbotron .lead {
  font-size: 18px;
}

.panel-danger {
  border-color: #2D8DEA;
}

.panel-danger .panel-heading {
  background-color: #7FB9F2;
  border-color: #2D8DEA;
  color: #03376A;
}

.footer {
  font-size: 0.7em;
  color: #ddd;
}

.match[data-type=friend] {
  border-color: blue;
}


.match[data-type=love] {
  border-color: red;
}

.match {
  border: 1px solid;
  border-radius: 5px;
  list-style: none;
  margin-top: 1em;
  padding: 1ex;
}

h4 {
  font-weight: bold;
  display: inline;
}
