.admin .question {
  margin-bottom: 1em;
}

.jumbotron {
  padding: 5px;
}

.jumbotron h1 {
  font-size: 40px;
}

.jumbotron .lead {
  font-size: 18px;
}

.panel-danger {
  border-color: #2D8DEA;
}

.panel-danger .panel-heading {
  background-color: #7FB9F2;
  border-color: #2D8DEA;
  color: #03376A;
}

.footer {
  font-size: 0.7em;
  color: #ddd;
}